@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

:root {
    /* Theme 1 */
    /* Backgrounds */

    --very-dark-desaturated-blue-bg: hsl(222, 26%, 31%);
    --very-dark-desaturated-blue-kp: hsl(223, 31%, 20%);
    --very-dark-desaturated-blue-sc: hsl(224, 36%, 15%);

    /* Keys */
    --desaturated-dark-blue: hsl(225, 21%, 49%);
    --desaturated-dark-blue: hsl(224, 28%, 35%);

    --red: hsl(6, 63%, 50%);
    --dark-red: hsl(6, 70%, 34%);

    --light-grayish-orange: hsl(30, 25%, 89%);
    --grayish-orange: hsl(28, 16%, 65%);

    /* Text */

    --very-dark-grayish-blue: hsl(221, 14%, 31%);
    --white: hsl(0, 0%, 100%);
}



html {
    font-size: 32px;
    font-family: 'League Spartan', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    background-color: var(--very-dark-desaturated-blue-bg);
}

/* Body theme 2 */
.body-t2 {
    background-color: hsl(0, 0%, 90%);
}

/* Body theme 3 */
.body-t3 {
    background-color: hsl(268, 75%, 9%);
}

header {
    margin-top: 6%;
    height: 40px;
    width: 380px;
    display: flex;
    justify-content: space-between;
    color: white;
}

main {
    width: 400px;
    height: 460px;
}

.result-screen {
    height: 45px;
    width: 340px;
    text-align: right;
    padding: 25px;
    background-color: var(--very-dark-desaturated-blue-sc);
    border-radius: 10px;
    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: auto;
}

/* Screen theme 2 */
.result-screen-t2 {
    background-color: hsl(0, 0%, 93%);
}

/* Screen theme 3 */
.result-screen-t3 {
    background-color: hsl(268, 71%, 12%);
}

.result-screen span {
    font-size: 1.75rem;
    color: white;
}


.keypad-section {
    height: 320px;
    width: 360px;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 25px 16px 5px 16px;
    background-color: var(--very-dark-desaturated-blue-kp);
    border-radius: 10px;
}

/* Keypad theme 2 */
.keypad-section-t2 {
    background-color: hsl(0, 5%, 81%);
}

/* Keypad theme 3 */
.keypad-section-t3 {
    background-color: hsl(268, 71%, 12%);
}

button {
    height: 46px;
    width: 76px;
    margin-left: 7px;
    margin-right: 7px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

.btn {
    background-color: hsl(30, 25%, 89%);
    box-shadow: 0px 3px 0px 0px hsl(28, 16%, 65%);
    color: hsl(221, 14%, 31%);
}

/* Button theme 2 */
.btn-t2 {
    background-color: hsl(45, 7%, 89%);
    box-shadow: 0px 3px 0px 0px hsl(35, 11%, 61%);
    color: hsl(60, 10%, 19%);
}

/* Button theme 3 */
.btn-t3 {
    background-color: hsl(268, 47%, 21%);
    box-shadow: 0px 3px 0px 0px hsl(290, 70%, 36%);
    color: hsl(52, 100%, 62%);
}

.btn:hover {
    background-color: hsl(30, 25%, 99%);
}

/* Button theme 2 */
.btn-t2:hover {
    background-color: hsl(185, 42%, 37%);
}

/* Button theme 3 */
.btn-t3:hover {
    background-color: hsl(281, 89%, 26%);
}

#reset, #calc {
    height: 46px;
    width: 166px;
    margin-left: 7px;
    margin-right: 7px;
}

.theme-toggle input {
    height: 15px;
    width: 15px;
    appearance: none;
    background-color: hsl(6, 63%, 50%);
    border-radius: 50%;
    opacity: 0;
    margin: 0px;
}

.theme-toggle input:hover {
    cursor: pointer;
}

header .theme-toggle {
    display: flex;
    justify-content: space-between;
    border: 5px solid var(--very-dark-desaturated-blue-kp);
    background-color: var(--very-dark-desaturated-blue-kp);
    border-radius: 50px;
    padding: 0px;
    height: 15px;
    width: 55px;
    
}

#one {
    opacity: 1;
}

.del-reset {
    background-color: hsl(225, 21%, 49%);
    box-shadow: 0px 3px 0px 0px hsl(224, 28%, 35%);
    font-size: 0.75rem;
    color: white;
}

#calc {
    background-color: hsl(6, 63%, 50%);
    box-shadow: 0px 3px 0px 0px hsl(6, 70%, 34%);
    font-size: 0.75rem;
    color: white;
}

.del-reset:hover {
    background-color: hsl(225, 21%, 59%);
}

#calc:hover {
    background-color: hsl(6, 63%, 60%);
}

.theme-section {
    display: flex;
    font-size: 0.35rem;
    align-items: center;
}

.theme-section span {
    margin-right: 15px;
    letter-spacing: 1px;
}

.theme-num {
    position: relative;
    bottom: 5px;
    left: 199px;
    letter-spacing: 16px;
    font-size: 0.35rem;
}

label {
    padding-bottom: 50px;
}

.attribution { font-size: 11px; text-align: center; margin-top: 10px;}
.attribution a { color: hsl(228, 45%, 44%); }