@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

:root {
    /* Theme 1 */
    /* Backgrounds */

    --very-dark-desaturated-blue-bg: hsl(222, 26%, 31%);
    --very-dark-desaturated-blue-kp: hsl(223, 31%, 20%);
    --very-dark-desaturated-blue-sc: hsl(224, 36%, 15%);

    /* Keys */
    --desaturated-dark-blue: hsl(225, 21%, 49%);
    --desaturated-dark-blue: hsl(224, 28%, 35%);

    --red: hsl(6, 63%, 50%);
    --dark-red: hsl(6, 70%, 34%);

    --light-grayish-orange: hsl(30, 25%, 89%);
    --grayish-orange: hsl(28, 16%, 65%);

    /* Text */

    --very-dark-grayish-blue: hsl(221, 14%, 31%);
    --white: hsl(0, 0%, 100%);


}


body {
    background-color: var(--very-dark-desaturated-blue-bg);
}

.result-screen {
    background-color: var(--very-dark-desaturated-blue-sc);
}

.keypad-section {
    background-color: var(--very-dark-desaturated-blue-kp);
}